.headerDiv {
  padding: 2vh 0;
  display: flex;
  justify-content: space-between;

  .teamName {
    width: 400px;
  }

  .addTeamMemberBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.footerDiv {
  margin-top: 2vh;

  .buttons {
    width: 35%;
    display: flex;
    justify-content: space-between;
  }
}