.headerDiv {
  margin-top: 2vh;
}

.tableContainer {
  margin-top: 4vh;

  .resultInput {
    width: 50%;
  }
}

.footerDiv {
  margin-top: 4vh;

  .buttons {
    width: 35%;
    display: flex;
    justify-content: space-between;
  }
}