.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;

  .modalContainer {
    border: 5px solid #78C2AD;
    background-color: white;
    border-radius: 5px;
    margin: 50px auto auto;
    padding: 10px;
    min-width: 400px;

    .header {
      display: flex;
      justify-content: space-between;

      i {
        cursor: pointer;
      }
    }
  }
}