.mainPictureContainer {
  width: 100%;
  height: 100vh;
}

.logoContainer {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  height: 40vh;

  .logo {
    height: 100%;
  }
}

.formContainer {
  margin-top: 5vh;
  margin-left: 35%;
  padding-bottom: 5vh;
  width: 30%;
}
