.tableContainer {
  margin-top: 8vh;

  .buttons {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 2vh;
    }
  }
}

.footerDiv {
  margin-top: 2vh;

  .buttons {
    width: 35%;
    display: flex;
    justify-content: space-between;
  }
}