.container {
  cursor: pointer;

  .toggler {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 80%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    padding: 10px 10px;
  }

  .options {
    margin-top: 2vh;
  }
}
